@keyframes countdown {
    0%   {background-color:green; width: 100%}
    25%  {background-color:green; width: 75%}
    50%  {background-color:greenyellow; width: 50%}
    75%  {background-color:yellow; width: 25%}
    90% {background-color:red; width: 10%}
    100% {background-color:red; width: 0%}
}
body{
    font-size: 4vh !important;
    color: white !important;
}
.container{
    border-radius: 5%;
    margin-top: 2em;
    background-color: #d5e9ef;
}
.box{
    padding-top: 25px;
}
.buttons{
    padding-top: 5vh;
    background-color: #c9d7db;
    margin-right: -15px;
    margin-left: -15px;
}
.empty{
    height: 10vh;
}
.keypad{
    font-size: 8vh;
    width: 10vh;
    height:10vh;
    text-align: center;
    line-height: 9vh;
    border-radius: 50%;
    border-width: 1px;
    border-color: gray;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
}
.keypad:hover{
    background-color: rgba(0,0,0,0.7);
}
.timer-box{
    height: 40px;
    padding: 0px;
    background-color: lightgray;
    border: 1px solid darkgray;
    padding: 0px !important;
    margin-bottom: 3vh;
}
.timer {
    height: 38px;
    animation-name: countdown;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
.keyRow1{
    float: right;
}
.keyRow2{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.keyRow3{
    float: left;
}
.centerBlock{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#equation{
    display: flex;
    background-color: #d4ed9e;
    border: 4px solid #c8e094;
    color: #000000;
}
#equation > span{
    display: flex;
    justify-content: space-between;
}