@keyframes countdown {
    0%   {background-color:green; width: 100%}
    25%  {background-color:green; width: 75%}
    50%  {background-color:greenyellow; width: 50%}
    75%  {background-color:yellow; width: 25%}
    90% {background-color:red; width: 10%}
    100% {background-color:red; width: 0%}
}
.timer {
    animation-name: countdown;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
}